* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #000;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: #fff;
  z-index: 9;
  border: 2px solid #4e1c1c96;
  z-index: 9;
  pointer-events: none; /* Allows interaction with elements below */
  transition: transform 0.15s ease-out; /* Smooth movement */
}
.cursor::after {
  content: "";
  width: 30px; /* Adjusted size for visibility */
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.image {
  width: 50vw;
  height: 52vh;
  position: relative;
}
.image img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: 10;
  background: transparent;
  width: 100%;
  height: 100%;
}
