* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}
/* ********************** */
.box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commonBox {
  width: 250px;
  height: 250px;
}
.box1 {
  background: #fff;
}
.box2 {
  background: #be0e0e;
}
.box3 {
  background: #114b06;
}
