* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100vh;
  color: #fff;
}
ul,
li {
  list-style: none;
}
/* ********************** */
.box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commonBox {
  width: 250px;
  height: 250px;
  border-radius: 30%;
}
.gsap_box1 {
  background-color: #000;
}
.gsap_box2 {
  background-color: #0eee19;
}
.box1 {
  background: #fff;
}
.box2 {
  background: #ced101;
}
.box3 {
  background: linear-gradient(45deg, #47f325, #32a852);
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.box3 h2 {
  font-size: 20vw;
  padding-left: 50%;
  text-decoration: line-through;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box4 {
  background-color: aqua;
}
